body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: rgb(116, 255, 255);

}
.clsDeposit{
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    color: white;



}
#transaction-area{
    display: none;

}

.deposit{
    background-color: slateblue;
}
.withdraw{
   background-color: lightsalmon
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

